.thead{
    background-color: #F7F8FA;
}
th{
    color:#505470;
    font-weight:normal;
}
.table_head{
    border-bottom:1px solid;
}

table {
    border-collapse: collapse;
    border-radius: 15px;
    
  }     