.menu_item_active{
    background: white;
    border-radius: 21px;
    padding:1rem 1rem !important;
}
.menu_item_active a{
    color:#5459EA !important;
}
#collapseExample,#collapseExample2{
    transition: 900ms;
}
.menu_collapse-icon{
    rotate:-90deg;
}


.collapsed .menu_collapse-icon{
    rotate:0deg;
    
}

@media only screen and (min-width: 767px){
    .menuItem{
        padding:0 1rem; 
    }
    .menu_item_active {
            padding: 1rem 1.5rem !important;
    }
}

