.menu_item_active li{
    background: white;
    border-radius: 21px;
}
.menu_item_active p,
.menu_item_active svg
{
    color:black !important;
}

#collapseExample,#collapseExample2{
    transition: 900ms;
}
.menu_collapse-icon{
    rotate:-90deg;
}


.collapsed .menu_collapse-icon{
    rotate:0deg;
    
}



@media only screen and (min-width: 767px){
    .menuItem{
        padding:0 1rem; 
    }
    .menu_item_active{
            padding: 1rem 1.5rem !important;
    }
}

