.nav_profile{

}
.profile_img{
    margin-right:0.7rem;
}
#profile_img_border{
    border: 4px green solid;
}

.profile_info h5{
    margin-bottom:0.3rem;
    font-size:18px;
    
}
.profile_info p{
    opacity:0.6;
    font-size:11px;
    margin-bottom:0px;
    
}


button.navbar-toggler.bg-light{
    font-size:1rem !important;
}